<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
      <title><%= @federation_name %> Entity Registry</title>
   </head>
   <body>
      <p>Questo Entity Registry &egrave; l''applicazione, amministrata dalla Federazione <%= @federation_name %>, che si occupa della raccolta, gestione e visualizzazione dei Metadati.</p>
      <p>Attraverso di essa gli utenti, amministratori e contatti tecnici, delle varie Organizzazioni potranno gestire le informazioni mantenute nei propri metadati in modo facile e veloce definendo i propri contatti tecnichi e registrando le loro entit&agrave; (IDP e SP) nella Federazione di Test di <%= @federation_name %>.</p>
   <p>&nbsp;</p>
      <h2 align="center"><a href="https://<%= @fqdn %>/rr3/providers/idp_registration">Inserisci un Nuovo Identity Provider in <%= @federation_name %></a></h2>
      <p>&nbsp;</p>
      <h2 align="center"><a href="https://<%= @fqdn %>/rr3/providers/sp_registration">Inserisci un Nuovo Service Provider in <%= @federation_name %></a></h2>
   </body>
</html>