<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
      <title><%= @federation_name %> Entity Registry</title>
   </head>
   <body>
      <p>This Entity Registry is the application, managed by <%= @federation_name %> federation, that collects, handle and visualize the metadata aggregate from different organization.</p>
      <p>With this application the users, administrators and technical contacts of several organization can insert their entities, IdP and SP, to the Test Federation of <%= @federation_name %>, manage their metadata and the informations included into them and join into eduGAIN interfederation in a easily and fastly way after that the entities have been shown to have all requirements.</p>
      <p>&nbsp;</p>
      <h2 align="center"><a href="https://<%= @fqdn %>/rr3/providers/idp_registration">Insert a New Identity Provider into <%= @federation_name %></a></h2>
      <p>&nbsp;</p>
      <h2 align="center"><a href="https://<%= @fqdn %>/rr3/providers/sp_registration">Insert a New Service Provider into <%= @federation_name %></a></h2>
   </body>
</html>